body {
  background-color: #282c34;
  color: white;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

.ColorLime {
  color: #aaff67;
}

.BGLime {
  background-color: #aaff67;
}

.SuccessProgressBar {
  background: #aaff67 !important;
}

.ColorWhite {
  color: white;
}

/* FONT SIZE */

.FS1x {
  font-size: 0.7rem;
}

.FS2x {
  font-size: 1rem;
}

.FS3x {
  font-size: 1.3rem;
}

.FS4x {
  font-size: 1.6rem;
}

.FS5x {
  font-size: 1.9rem;
}

.FS6x {
  font-size: 2.2rem;
}

.FS7x {
  font-size: 2.5rem;
}

.FS8x {
  font-size: 2.8rem;
}

.FS9x {
  font-size: 3.2rem;
}

.FS10x {
  font-size: 3.5rem;
}

/* FONT STYLE */

.Montserrat {
  font-family: "Montserrat", sans-serif;
}

.TextLight {
  font-weight: 400;
}

.TextBold {
  font-weight: 700;
}

.Uppercase {
  text-transform: uppercase;
}

/* PADDING */

.P8 {
  padding: 8px;
}

.P12 {
  padding: 12px;
}

.P16 {
  padding: 16px;
}

.P24 {
  padding: 24px;
}

.P32 {
  padding: 32px;
}

/* PADDING BOTTOM */

.PB8 {
  padding-bottom: 8px;
}

.P12 {
  padding-bottom: 12px;
}

.PB16 {
  padding-bottom: 16px;
}

.PB24 {
  padding-bottom: 24px;
}

.PB32 {
  padding-bottom: 32px;
}

/* PADDING RIGHT */

.PR8 {
  padding-right: 8px;
}

.PR12 {
  padding-right: 12px;
}

/* PADDING TOP */

.PT8 {
  padding-top: 8px;
}

.PT12 {
  padding-top: 12px;
}

.PT24 {
  padding-top: 24px;
}

.PT32 {
  padding-top: 32px;
}

/* PADDING VERTICAL */

.PV0 {
  padding-top: 0;
  padding-bottom: 0;
}

.PV8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.PV12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.PV16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.PV24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.PV32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* MARGIN */

.MB24 {
  margin-bottom: 24px;
}

.MB32 {
  margin-bottom: 32px;
}

.MB8 {
  margin-bottom: 8px;
}

.MH8 {
  margin-left: 8px;
  margin-right: 8px;
}

.MH12 {
  margin-left: 12px;
  margin-right: 12px;
}

.MV12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

/* POSITIONING */

.Flex {
  display: flex;
}

.FlexColumn {
  flex-direction: column;
}

.FlexRow {
  flex-direction: row;
}

@media (min-width: 960px) {
  .MRow {
    display: flex;
    flex-direction: row;
  }
}

.JCCenter {
  justify-content: center;
}

.AICenter {
  align-items: center;
}

.TextCenter {
  text-align: center;
}

.Relative {
  position: relative;
}

.Absolute {
  position: absolute;
}

/* SIZE */

.W100 {
  width: 100%;
}

/* OTHERS */

.Pointer {
  cursor: pointer;
}
