.App {
  text-align: center;
  padding-top: 30vh;
  display: flex;

  justify-content: center;
  @media (min-width: 960px) {
  }
}

.ColorLime {
  color: #aaff67;
}

.ColorWhite {
  color: white;
}

/* FONT SIZE */

.FS2x {
  font-size: 1rem;
}

.FS3x {
  font-size: 1.3rem;
}

.FS4x {
  font-size: 1.6rem;
}

.FS5x {
  font-size: 1.9rem;
}

.FS6x {
  font-size: 2.2rem;
}

.FS7x {
  font-size: 2.5rem;
}

.FS8x {
  font-size: 2.8rem;
}

.FS9x {
  font-size: 3.2rem;
}

.FS10x {
  font-size: 3.5rem;
}

.Montserrat {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #282c34;
  color: white;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.TextLight {
  font-weight: 400;
}

.TextBold {
  font-weight: 700;
}

.TextBlack {
  font-weight: 900;
}

.Flex {
  display: flex;
}

.FlexColumn {
  flex-direction: column;
}

.FlexRow {
  flex-direction: row;
}

.JCCenter {
  justify-content: center;
}

.AICenter {
  align-items: center;
}

.W100 {
  width: 100%;
}

/* PADDING */

.PB32 {
  padding-bottom: 32px;
}

.PB24 {
  padding-bottom: 24px;
}

.PR12 {
  padding-right: 12px;
}

.PT12 {
  padding-top: 12px;
}

.PV16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.P16 {
  padding: 16px;
}

/* MARGIN */

.MB24 {
  margin-bottom: 24px;
}

.MB32 {
  margin-bottom: 32px;
}

.MB8 {
  margin-bottom: 8px;
}

.MH12 {
  margin-left: 12px;
  margin-right: 12px;
}

.MV12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.Uppercase {
  text-transform: uppercase;
}

.Pointer {
  cursor: pointer;
}

/* POSITIONING */

.TextCenter {
  text-align: center;
}

.Relative {
  position: relative;
}

.Absolute {
  position: absolute;
}
